#content {
	display: inline-block;
	width: auto;
}

form {
	display: inline-block;
	text-align: left;
}

h2 {
	margin-top: 2em;
}

table,
table input {
	font-size: 1.5em;
}
table {
	display: inline-block;
	margin: 1em 2em;
	vertical-align: top;
}
thead th {
	padding-bottom: 1em;
	text-align: center;
}
th > label {
	font-weight: normal;
	display: block;
}
.button-row td {
	padding: 0.5em;
	text-align: center;
}
.button-row button {
	width: 90%;
	padding: 0.2em;
}
#user-details-box input {
	width: 8em;
}
#add-credit-box input {
	width: 4em;
}
