#content {
	display: inline-block;
}
#admin-button-grid {
	border-collapse: collapse;
}
#admin-button-grid td {
	padding: 0.3em 0.6em;
}
#admin-button-grid button {
	width: 100%;
	padding: 0.2em 1.0em;
}
