#buttons {
	bottom: 0px;
	font-size: 3em;
	margin: 10px;
	padding: 0 0px;
	text-align: center;
}
table {
	border: 0px;
	border-collapse: separate;
	border-spacing: 0 5px;
	padding: 0 10px;
	color: rgb(0, 0, 0);
}
#cart-container {
	display: inline-block;
	width: 30em;
}

#cart-undo-bar > button {
	width: 40%;
}
#undo-button .icon {
	background-image: url("../images/undo.svg");
}
#redo-button .icon {
	background-image: url("../images/redo.svg");
}
.icon:disabled {
	opacity: 0.5;
}

#cart-container {
	padding: 1em;
	border: rgb(128, 192, 255) groove 2px;
	border-radius: 0.5em;
	background-color: rgba(0, 128, 255, 0.18)
}
#cart-table-container {
	overflow: auto;
	height: 30em;
}
#cart-table {
	width: 100%;
}

#cart-body button {
	font-size: 1.5em;
	min-width: 40px;
}

thead tr, tfoot tr {
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}
tr {
	height: 50px;
}

tbody tr:nth-child(2n) {
	background-color: rgba(255,255,255,0.6);
}
tbody tr:nth-child(2n+1) {
	background-color: rgba(240,240,240,0.6);
}

td {
	min-width: 50px;
	text-align: right;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:last-child {
	text-align: center;
	width: 50px;
}
tfoot td:nth-child(2) {
	text-align: right;
}

td:first-child,
th:first-child {
	padding-left: 1em;
}
td:last-child,
th:last-child {
	padding-right: 1em;
}

tbody > tr > th:first-child,
tfoot > tr > th:first-child {
	text-align: left;
}

#table_order td:first-child,
#table_afterorder td:first-child {
	text-align: left;
}

#buy {
	background-color: rgba(191, 255, 191, 0.6);
}
