.dashboard li {
	list-style: none;
}
.popular ul {
	padding: 5px;
}
.popular li {
	background-color: rgba(0,0,0,0.05);
	padding: 20px;
	margin: 10px;
}
.popular li:hover {
	background-color: rgba(0,0,0,0.1);
}
.add-popular {
	position: relative;
	float: left;
	padding: 10px;
	background: #54db30;
}
.article {
	position: relative;
	padding: 10px;
}
#popular-section {
	float: left;
	width: 15%;
	background-color: red;
}
#button-section {
	float: left;
	width: 22%;
	background-color: blue;
}
#beveragelist-section{
	float:left;
	width:29%;
	background-color: green;
}

#container2 {
	float: left;
	width: 33%;
	margin-right: 5px;
	background-color: red;	
}
table {
	border: 0px;
	border-collapse: separate;
	border-spacing: 0 5px;
	margin: 10px;
	padding: 0 10px;
	width: 450px;
	color: rgb(0, 0, 0);
}
table button {
	font-size: 1.5em;
	min-width: 40px;
}

thead  tr, tfoot tr{
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}

tr {
	height: 50px;
}

tbody tr:nth-child(2n) {
	background-color: rgba(255,255,255,0.6);
}
tbody tr:nth-child(2n+1) {
	background-color: rgba(240,240,240,0.6);
}

td {
	min-width: 50px;
	max-width: 200px;
	text-align: right;
}
#table_afterorder td {
	min-width: 100px;
	text-align: center;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:last-child {
	text-align: center;
	width: 50px;
}
tfoot td:nth-child(2) {
	text-align: right;
}

td:first-child,
td:last-child {
	padding: 0 1em;
}
#table_order td:first-child,
#table_afterorder td:first-child {
	text-align: left;
}

#cancel {
	float: left;
}
#add, #buy, #logout {
	float: right;
	margin-left: 10px;
}

button#checkout {
	float: left;
	bottom: 0px;
	font-size: 3em;
	margin: 10px;
	padding: 0 0px;
	text-align: center;
	width: 200px;
}
#beveragelist {
	float: right;
	width: 400px;
	background-color: white;
	font-size: 2em;
}

#buttonmenu td{
	bottom: 0px;
	font-size: 2em;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 150px;
}
#popular1{
float: left;
width: 150px;
height: 100px;
font-size: 2em;
margin: 7px;
}

#popular2{
float: left;
width: 150px;
height: 100px;
font-size: 2em;
margin: 7px;
}

#popular3{
float: left;
width: 150px;
height: 100px;
font-size: 2em;
margin: 7px;
}

#popular4{
float: left;
width: 150px;
height: 100px;
font-size: 2em;
margin: 7px;
}

#ad{
float: left;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#eh{
float: right;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#il{
float: left;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#mp{
float: right;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#qt{
float: left;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#uz{
float: right;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}
#num{
float: left;
width: 120px;
height: 100px;
font-size: 2em;
margin: 7px;
}





