h1, h2, h3, h4 {
	font-family: 'Helvetica', 'Arial';
}
a {
	color: black;
}
ul {
	padding: 0px;
}
body {
	font-family: 'Helvetica', 'Arial';
	background-image: url(../images/flying_dutchman_2.png);
	background-size: cover;
	background-attachment: fixed;
	color: black;
	text-align: center;
	margin: 0px;
}

header {
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.45);
	transition: background .4s;	
	padding: 10px;
	padding-top: 0px;
	z-index: 10;
	color: #fff;
}

header h1 {
	float: left;
	color: #fff;
}

.header-wrapper {
	margin: 0px auto;
	width: 1004px;
	padding: 10px;
}

#container {
	width: auto;
}

#container2 {
	width: 1000px;
	margin: 0px auto;
}

#content {
	margin: 0px auto;
	width: 1004px;
	padding: 10px;
}

#navbar {
	float: left;
}
#navbar .icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	background-size: contain;
}
#navbar #nav-up .icon {
	background-image: url("../images/up.svg");
}
#navbar #nav-undo .icon {
	background-image: url("../images/undo.svg");
}
#navbar #nav-redo .icon {
	background-image: url("../images/redo.svg");
}
#navbar :disabled .icon {
	opacity: 0.5;
}

.link-button {
	color: inherit;
	text-decoration: none;
}

#container {
	margin: 0px auto;
	padding-top: 100px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
	border: gray inset 2px;
	border-radius: .2em;
	background: rgba(255, 255, 255, 0.05);
	color: inherit;
}

.fav-beer,
button {
	display: inline-block;
	padding: 0 6px;
	border: gray outset 2px;
	border-radius: .2em;
	background: rgba(255, 255, 255, 0.6);
	color: inherit;
	cursor: pointer;
	margin: 0.05em;
	font-size: 1em;
	transition: 50ms;
}
button:active:not(:disabled) {
	background: rgba(0, 0, 0, 0.1);
	border-style: inset;
	transform: scale(0.98);
	transition: 0ms;
}
:disabled {
	color: gray;
	cursor: not-allowed;
}
button a {
	color: inherit;
}
button.big {
	font-size: 2.5em;
}

#top-right {
	margin: 0.67em;
	float: right;
	text-align: right;
}
#top-right hr {
	width: 2px;
	height: 1em;
	display: inline-block;
	background: gray;
	vertical-align: middle;
}
#top-right #theme-menu {
	font-size: 1em;
	max-width: 6em;
}
