body {
	background-image: url(../images/flying_dutchman_2.png);
	background-size: cover;
	color: black;
	text-align: center;
}
#container {
	width: 1024px;
	margin: 0px auto;
}
header {
    font-size: 1.6em;
	font-family: serif;
    font-variant: small-caps;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	border: gray inset 2px;
	border-radius: .2em;
	background: rgba(255, 255, 255, 0.05);
	color: inherit;
}
button {
	border: gray outset 2px;
	border-radius: .2em;
	background: rgba(0, 0, 0, 0.05);
	color: inherit;
	cursor: pointer;
	margin: 0.05em;
	font-size: 1em;
	transition: 50ms;
}
button:active {
	background: rgba(0, 0, 0, 0.1);
	border-style: inset;
	transform: scale(0.98);
	transition: 0ms;
}
#top-right {
	position: fixed;
	top: .5em;
	right: .5em;
	text-align: right;
}
#top-right hr {
	width: 2px;
	height: 1em;
	display: inline-block;
	background: gray;
	vertical-align: middle;
}
