.content-loggedin {
	background: #ddd;
}
/*
footer {
	height: 25px;
	background: #000;
}
*/
#keypad {
	font-size: 4em;
	font-family: sans-serif;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
#keypad button {
	width: 2em;
	height: 2em;
	width: 2em;
	height: 2em;
}
#eraseButton {
	width: 4.1em !important;
}
#loginLogoArea {
	display: inline-block;
}
#loginLogoArea img {
	width: 30em;
	height: 30em;
}
#loginForm,
#sideArea {
	margin-left: 1em;
	font-size: 4em;
	display: inline-block;
	width: 6.2em;
	height: 8.4em;
	/* background: rgba(0, 0, 0, 0.05); */
	vertical-align: middle;
}
#username,
#password,
#pinField {
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	font-size: 1em;
	margin-top: 0.05em;
	
}
#loginButton {
	width: 100%;
	margin-top: 0.2em;
}
#adminLoginButton {
	width: 90%;
	font-size: 0.6em;
}
#errorMsg {
	display: none;
	margin-top: 0.2em;
	background: rgba(255, 0, 0, 0.5);
	font-size: 0.5em;
}
#errorMsg.show {
	display: block;
}
