#container {
	width: auto;
}

#container2 {
	width: auto;
}

#berverages-button {
	font-size: 3em;
	padding: .3em;
	margin-bottom: 0.5em;
}
#favorites {
	width: 100%;
	height: 20em;
}
#favorites button {
	width: 30%;
	height: 40%;
	vertical-align: middle;
}
#favorites button img {
	height: 90%;
	border: gray outset 1px;
	float: left;
}
#favorites button .name {
	font-size: 1.5em;
}
#favorites button .price {
	float: right;
}

#beerlist {
	display: inline-block;
}

.nicer {
	background: white;
	height: 15% !important;
	width: 15% !important;
	font-size: 80% !important;
	
}

#cart {
	display: inline-block;
	width: 200px;
	height: 500px;
	background-color: white;
	border: black solid 2px;
	
}
