#manage-button {
	font-size: 2em;
	padding: .2em;
	margin-bottom: 0.5em;
}
#add-user-button {
	font-size: 2em;
	padding: .2em;
}
#user-list {
	width:350px;
	height:50px;
	font-size:30px;
}
#user-list option {
	border-top: solid ButtonHighlight 1px;
	border-bottom: solid ButtonShadow 1px;
}
#user-list .first-name,
#user-list .last-name,
#user-list .user-name {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ".";
	vertical-align: middle;
}
#user-list .first-name,
#user-list .last-name {
	width: 6em;
}
#user-list .user-name {
	width: 5em;
	font-size: 0.7em;
}
#back {
	float:left;
	top: 5px;
	left: 5px;
}
#user-label {
	font-size: 2em;
}

/*** Statistics ***/
#beer-section {
	float: left;
	padding: 20px;
}
#user-section {
	float: left;	
	padding: 20px;
}
.stats ul {
	float: left;
}
.stats ul li {
	font-size: 1.7em;
	list-style: none;
	margin-left: 0px;
	display: block;
	padding-top: 10px;
}
.pieces {
	padding: 2px;
	color: #fff;
	border-radius: 3px;
	margin-right: 10px;
}
.min-100 {
	background: #2cd228;
}
.min-50 {
	background: #a0d228;
}
.min-20 {
	background: #e0de30;
}

/*** Orders ***/
table.orders {
	width: 100%;
	border-spacing: 0px;
}
table.orders thead {
	text-align: left;
	padding-left: 20px;
    text-transform: uppercase;
}
table.orders td {
	padding: 5px;
	padding-left: 20px;
}
table.orders th {
	padding: 5px;
	padding-left: 20px;
	border-bottom: 3px solid #aeaeae;	
}
table.orders tbody tr:hover {
	background-color: rgba(0,0,0,0.05);
}

/*** Payments ***/
table.payment {
	width: 100%;
	border-spacing: 0px;
}
table.payment thead {
	text-align: left;
	padding-left: 20px;
    text-transform: uppercase;
}
table.payment td {
	padding: 5px;
	padding-left: 20px;
}
table.payment th {
	padding: 5px;
	padding-left: 20px;
	border-bottom: 3px solid #aeaeae;	
}
table.payment tr:hover {
	background-color: rgba(0,0,0,0.05);
}

/*** Dashboard ***/
.dashboard li {
	list-style: none;
}
.popular ul {
	padding: 5px;
}
.popular li {
	background-color: rgba(0,0,0,0.05);
}
.popular li:hover {
	background-color: rgba(0,0,0,0.1);
}
.add-popular {
	position: relative;
	float: left;
	padding: 10px;
	background: #54db30;
}
.article {
	position: relative;
	padding: 10px;
}
#popular-section {
	float: left;
	width: 33%;
}
#button-section {
	float: left;
	width: 33%;	
}
#cart-section {
	float: left;
	width: 33%;
}
#cart {
	background-color: rgba(0,0,0,0.05);	
}
table.cart {
	width: 100%;
	border-spacing: 0px;
}
table.cart thead {
	text-align: left;
	padding-left: 20px;
    text-transform: uppercase;
}
table.cart td {
	padding: 5px;
	padding-left: 20px;
	border-left: 2px solid #ddd;
	text-align: left;
}
table.cart th {
	padding: 5px;
	padding-left: 20px;
	border-bottom: 3px solid #aeaeae;	
}
table.cart tbody tr:hover {
	background-color: rgba(0,0,0,0.05);
}
.cost-total {
	padding: 5px;
	text-align: right;
}
button#checkout {
	float: right;
}
