#beer-section {
	float: left;
	padding: 20px;
}

#user-section {
	float: left;
	padding: 20px;
}

.stats ul {
	float: left;
}
.stats ul li {
	font-size: 1.7em;
	list-style: none;
	margin-left: 0px;
	display: block;
	padding-top: 10px;
}

.pieces {
	padding: 2px;
	color: #fff;
	border-radius: 3px;
	margin-right: 10px;
}

.min-100 {
	background: #2cd228;
}
.min-50 {
	background: #a0d228;
}
.min-20 {
	background: #e0de30;
}
