body {
	background-image: url(../images/flying_dutchman_2.png);
	background-size: cover;
	text-align: left;
}
header {
    font-size: 1.6em;
	font-family: serif;
    font-variant: small-caps;
	text-align: center;
}
#back {
	position: float;
	top: 5px;
	left: 5px;
}
p {
	text-align: center;
}
#userBox {
	position: absolute;
	left: 250px;
}
#edit {
	position: absolute;
	top: 300px;
	left: 400px;
}
#creditBox {
	text-align: left;
	position: absolute;
	right: 250px;
}
#add {
	position: absolute;
	top: 300px;
	right: 400px;
}
#newUserBox {
	position: absolute;
	left: 400px;
	text-align: center;
}
#newUserDetails {
	text-align: left;
}
button {
	border: gray outset 2px;
	border-radius: .2em;
	background: rgba(0, 0, 0, 0.05);
	color: black;
	cursor: pointer;
	margin: 0.05em;
	font-size: 1em;
	transition: 50ms;
}
button:active {
	background: rgba(0, 0, 0, 0.1);
	border-style: inset;
	transform: scale(0.98);
	transition: 0ms;
}